<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>FriendBook | Home Page</title>
</head>
<body>
<div th:if="${alert != null}">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="/Images/heart.png" class="rounded me-2" style="height:15px; width:15px;" alt="...">
                <strong class="me-auto">Friend Book | Connecting People</strong>
                <small>1 sec ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" th:text="${alert}"></div>
        </div>
    </div>
</div>
<header>
    <!-- //navbar -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FriendBook - Connecting People</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                 aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
                        <h3>Welcome, <span th:text="${name}"></span></h3>
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">
                        <li class="nav-item">
                            <form th:action="@{/getHomePage}" method="post">
                                <input type="hidden" th:value="${user_id}" name="userId"/>
                                <input type="hidden" th:value="${name}" name="firstname"/>
                                <button type="submit"
                                        style="background-color: #212529; border: none; color: white; margin-top: 10px;">
                                    Home
                                </button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <form th:action="@{/viewProfile}" method="post">
                                <input type="hidden" th:value="${user_id}" name="userId"/>
                                <button type="submit"
                                        style="background-color: #212529; border: none; color: white; margin-top: 10px;">
                                    View Profile
                                </button>
                            </form>
                        </li>
                        <li class="nav-item dropdown">
                            <form th:action="@{/getMyPosts}" method="post">
                                <input type="hidden" th:value="${user_id}" name="userId"/>
                                <button type="submit"
                                        style="background-color: #212529; border: none; color: white; margin-top: 10px;">
                                    My Posts
                                </button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="logout" style="margin-left: 6px;">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<main class="my-4">
    <figure class="text-center" style="margin-top:5%;">
        <blockquote class="blockquote">
            <p style="margin-top: 60px;">FriendBook Community Connecting Lives Seamlessly.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            FriendBook <cite title="Source Title">CEO</cite>
        </figcaption>
    </figure>
    <form class="d-flex mt-3" role="search" onsubmit="return false;">
        <input class="form-control me-2 my-4" id="myInput" type="search" placeholder="Search Followers" aria-label="Search"  style="width: 257px; margin-left: 1100px;">
        <button class="btn btn-success" type="submit" style="height: 37px; margin-top: 25px;">Search</button>
    </form>
    <!--   Followers Request -->
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div th:each="user : ${userList}" class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img th:src="@{/users/{name}(name=${user.imageName})}" class="img-fluid rounded-start"
                                 style="height: 258px;"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 th:text="${user.firstname + ' ' + user.lastname +' ('+user.displayname+')'}"></h3>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="row container">
                                    <div class="col-lg-4">
                                        <form class="approveRequestForm">
                                            <input type="hidden" th:value="${user.userId}" class="followerId" name="followerId">
                                            <input type="hidden" th:value="${user_id}" class="userId" name="userId">
                                            <button class="btn btn-outline-success btn-sm" type="submit"  th:text="'Accept'"
                                                    th:if="${user.followStatus == 'REQUESTED'}" style="width: 100px;"></button>
                                        </form>
                                    </div>
                                    <div class="col-lg-4">
                                        <form class="rejectRequestForm">
                                            <input type="hidden" th:value="${user.userId}" class="followerId" name="followerId">
                                            <input type="hidden" th:value="${user_id}" class="userId" name="userId">
                                            <button class="btn btn-outline-danger btn-sm" type="submit"
                                                    th:text="'Reject'"
                                                    th:if="${user.followStatus == 'REQUESTED'}" style="width: 100px;margin-left: 12px;"></button>
                                        </form>
                                    </div>
<!--                                    <div class="col-lg-4">-->
<!--                                        <form th:action="@{/setFollowing2}" method="post">-->
<!--                                            <input type="hidden" th:value="${user.userId}" name="followerId">-->
<!--                                            <input type="hidden" th:value="${user_id}" name="userId">-->
<!--                                            <button class="btn btn-outline-info btn-sm" type="submit"-->
<!--                                                    th:text="${user.followBackStatus != null ? user.followBackStatus : 'FOLLOW'}"></button>-->
<!--                                        </form>-->
<!--                                    </div>-->
                                </div>
                                <p class="card-text my-1"><small class="text-body-secondary">Last updated 3 mins
                                    ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <form th:action="@{/getHomePage}" method="post">
        <input type="hidden" th:value="${user_id}" name="userId"/>
        <input type="hidden" th:value="${name}" name="firstname"/>
        <button type="submit" class="w-10 btn btn-outline-danger" style="margin-left: 20px;">Home
        </button>
    </form>
</main>
<hr>
<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
                 viewBox="0 0 24 24">
                <title>Product</title>
                <circle cx="12" cy="12" r="10"></circle>
                <path
                        d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94">
                </path>
            </svg>
            <small class="d-block mb-3 text-body-secondary">© 2017–2024</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#">Business</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Education</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Government</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Gaming</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="script.js"></script>
<script>
    $(document).ready(function() {
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            console.log(value)
            $(".col").filter(function() {
                let cardTitle = $(this).find(".card-title").text().toLowerCase();
                $(this).toggle(cardTitle.indexOf(value) > -1);
            });
        });
    });

//Approve Request
document.addEventListener("DOMContentLoaded", function () {
  const forms = document.querySelectorAll(".approveRequestForm"); // Select all like forms

  forms.forEach((form) => {
    form.addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent default form submission

      if (!form.checkValidity()) {
        form.classList.add("was-validated");
        return;
      }

      const formData = new FormData();

      const following = {
        userId:form.querySelector(".userId").value,
        followerId:form.querySelector(".followerId").value
      };

      formData.append("following",  new Blob([JSON.stringify(following)], { type: "application/json" }));

      fetch("/approveRequest", {
        method: "POST",
        body: formData,
        headers: {
          Accept: "text/html",
        },
      })
        .then((response) => {
          if (response.ok) {
            const contentType = response.headers.get("content-type");
            if (contentType && contentType.includes("text/html")) {
              console.log("Request sent successfully.");
              return response.text().then((html) => {
                document.open();
                document.write(html);
                document.close();
              });
            } else {
              return response.json().then((data) => {
                console.log("Request sent successfully.");
                alert(data.alert);
              });
            }
          } else {
            throw new Error("Failed to sent request.");
          }
        })
        .catch((error) => {
          console.error("Error:", error);
          alert("An error occurred while sending request.");
        });
    });
  });
});

 //Reject Request
document.addEventListener("DOMContentLoaded", function () {
  const forms = document.querySelectorAll(".rejectRequestForm"); // Select all like forms

  forms.forEach((form) => {
    form.addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent default form submission

      if (!form.checkValidity()) {
        form.classList.add("was-validated");
        return;
      }

      const formData = new FormData();

      const following = {
        userId:form.querySelector(".userId").value,
        followerId:form.querySelector(".followerId").value
      };

      formData.append("following",  new Blob([JSON.stringify(following)], { type: "application/json" }));

      fetch("/rejectRequest", {
        method: "POST",
        body: formData,
        headers: {
          Accept: "text/html",
        },
      })
        .then((response) => {
          if (response.ok) {
            const contentType = response.headers.get("content-type");
            if (contentType && contentType.includes("text/html")) {
              console.log("Request sent successfully.");
              return response.text().then((html) => {
                document.open();
                document.write(html);
                document.close();
              });
            } else {
              return response.json().then((data) => {
                console.log("Request sent successfully.");
                alert(data.alert);
              });
            }
          } else {
            throw new Error("Failed to sent request.");
          }
        })
        .catch((error) => {
          console.error("Error:", error);
          alert("An error occurred while sending request.");
        });
    });
  });
});

</script>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>
</html>